<h3 class="p-3 text-center text-success">Sửa sinh viên</h3>
<form action="/students/update/{{student._id}}" method="POST" class="pb-5">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Tên</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Tên lớp" name="name"
                value="{{student.name}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">Giới tính</label>
        <div class="col-sm-10">
            <select name="gender" id="gender" class="form-control">
                <option value="" selected="true">Chọn giới tính</option>
                <option value="Nam" {{isSelected student.gender 'Nam' }}>Nam</option>
                <option value="Nữ" {{isSelected student.gender 'Nữ' }}>Nữ</option>
                <option value="Khác" {{isSelected student.gender 'Khác' }}>Khác</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" name="phone"
                value="{{student.phone}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                value="{{student.email}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="birthday" class="col-sm-2 col-form-label">Ngày sinh</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="birthday" name="birthday"
                value="{{convertStringDate student.birthday}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="selectSchool" class="col-sm-2 col-form-label">Trường</label>
        <div class="col-sm-10">
            <select name="school" id="selectSchool" class="form-control">
                <option value="" disabled selected>Chọn trường</option>
                {{#each schools}}
                <option value="{{this._id}}" {{isSelected this._id ../student.class.school._id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="selectClass" class="col-sm-2 col-form-label">Lớp</label>
        <div class="col-sm-10">
            <select name="class" id="selectClass" class="form-control">
                {{#each classes}}
                <option value="{{this._id}}" {{isSelected this._id ../student.class._id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 text-right mr-3">
            <input type="submit" value="Sửa" class="btn btn-success">
        </div>
    </div>
</form>

<script>

    async function findClassesBySchoolID(id) {
        let response = await fetch(`http://localhost:3000/classes/findClassesBySchoolID/${id}`);
        return response.json();
    }

    document.getElementById('selectSchool').addEventListener('change', async (event) => {
        let classes = await findClassesBySchoolID(event.target.value);
        console.log(classes);

        let options = `<option value='' selected disabled>Chọn lớp</option>`;
        classes.forEach((c) => {
            options += `<option value='${c._id}'>${c.name}</option>`;
        });
        document.getElementById('selectClass').innerHTML = options;
    });
</script>